*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.barra{
    padding: 5px 10px;
    border-radius: 2%;
    width: 75%;
    font-size: 20px;
}

.boton{
    border: 0px;
    background-color: #0044AA;
    padding: 10px;
    color: #ebebeb;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 75%;
    font-size: 20px;
    border-radius: 5%;
    transition: all .5s;
}

.boton:hover{
    background-color: #0022aa;
}

.cajasfooter i{
 transition: all 450ms;
}

.formulario{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}


h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    margin-top: 2rem;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    outline: none;
    color: #666;
    padding: 2px;   
    width: auto;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.login{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.login.boton{
    margin-top: 402px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}


div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    opacity: 0%;
    margin-top: 20px;
    transition: all 200ms;
}

section.banner img{
    width: 100%;
}


main{
    width: 90%;
    margin: 0 auto;

}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 500ms;
}

main section article i:hover{
    transform: rotateZ(-90deg);
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
    padding: 15px;
}

footer section {
    padding: 15px;
    text-align: center;
}

footer section div {
    text-align: center;
    padding: 10px
}

footer section div i {
    color: blue;
}



@media (min-width: 361px){



    main section article .description:hover{
        opacity: 100%;
    }
    
    main section article{
        transition: all 450ms;
    }

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    .listaFlex{
        display: flex;
        justify-content: space-between;
    }
    
    .listaFlex ul{
        display: flex;
    }

    .listaFlex ul li{
        margin: 0 15px;
    }
    
    main section div.products article{
        width: 22%;
    }

    footer {
        margin-top: 50px;
   }
    footer .cajasfooter {
        display:flex;
        justify-content: space-evenly;
    }      

    .cajasfooter i:hover{
        color:#020e3f;
    }
    

    
}